# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Database
db.sqlite3

# Node
/node_modules

# pnp
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Build / production
/build

# Testing
/coverage

# Misc
.DS_Store
*.pem

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env*.local

# Vercel
.vercel

# Typescript / Next types
*.tsbuildinfo
next-env.d.ts
